{% extends "layout.html" %}
{% block content %}

<h1>Cover Letter</h1>

<label for="job-description">Job Description</label>
<textarea id="job-description">
    About the job
Join Vodafone Hungary and build a better tomorrow!


We are looking for a

Technical Product Manager
for our Technology Department

#Vodafonelife
At Vodafone, we’re working hard to build a better future. A more connected, inclusive and sustainable world. As a dynamic global community, it's our human spirit, together with technology, that empowers us to achieve this.
</textarea>
<button onclick="generateCL()">Generate Cover Letter</button>

<div id="rendered_md"></div>

<script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>

<script>
async function generateCL() {
    const job_description = document.getElementById("job-description").value
    const json = { job_description: job_description }

    fetch('/generate_cl', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(json)
    }).then(response => response.json()).then(data => {
        console.log(data.content);

        const converter = new showdown.Converter();
        const text = data.content;
        const html = converter.makeHtml(text);

        const target = document.getElementById('rendered_md')

        target.innerHTML = html
    }).catch(error => {
        console.error('Error:', error);
        alert('Failed to generate CV.');
    });
}
</script>

{% endblock content %}
