{% extends "layout.html" %}
{% block content %}

<div id="profile-container"></div>

<button onclick="saveProfile()">Save Profile</button>
<button onclick="loadProfile()">Load Profile</button>

<br />

<label for="linkedin">LinkedIn Profile URL:</label>
<input type="text" id="linkedin" placeholder="LinkedIn Profile URL">

<br />

<button onclick="fetchProfile()">Fetch from LinkedIn</button>
<button onclick="generateCV()">Generate CV</button>

<div id="rendered_md"></div>

<script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
<script src="{{ url_for('static', filename='cv.js') }}"></script>

{% endblock content %}
