<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% extends "layout.html" %}
{% block content %}
    <!-- Hero Section -->
    <div class="hero-section">
        <h1>Welcome to Your Career Companion!</h1>
        <p>Streamline your job application process with ease.</p>
    </div>

    <!-- Features Section -->
    <div class="features-section">
        <h2>Our Features</h2>
    </div>


    <!-- LinkedIn Integration Section -->
    <div class="container">
        <header class="header">
            <h1>LinkedIn Integration</h1>
        </header>
        <section class="content">
            <p>Connect your LinkedIn profile for a seamless experience. Our platform allows you to import your professional history and achievements directly from LinkedIn, simplifying the process of building your resume and ensuring that no detail is missed.</p>
            <div class="cta">
                <img src="anchor.png" alt="Anchor" />
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('cv') }}" class="cta-link">Integrate LinkedIn</a>
                {% else %}
                <a href="{{ url_for('register') }}" class="cta-link">Get started</a>
                {% endif %}
            </div>
        </section>
    </div>

    <!-- CV & Cover Letter Generator Section -->
    <div class="container">
        <header class="header">
            <h1>CV & Cover Letter Generator</h1>
        </header>
        <section class="content">
            <p>Create professional CVs and cover letters tailored to your profile. With our intuitive tools, you can generate documents that stand out to employers and highlight your best qualities, all with just a few clicks.</p>
            <div class="cta">
                <img src="anchor.png" alt="Anchor" />
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('cover_letter') }}" class="cta-link">Create Documents</a>
                {% else %}
                <a href="{{ url_for('register') }}" class="cta-link">Register</a>
                {% endif %}
            </div>
        </section>
    </div>

    <!-- Career Advice Section -->
    <div class="container">
        <header class="header">
            <h1>Career Advice</h1>
        </header>
        <section class="content">
            <p>Receive personalized career advice based on current trends. Our system analyzes the market and provides you with suggestions to enhance your professional growth and increase your job prospects.</p>
            <div class="cta">
                <img src="/img/cv.png" alt="CV" />
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('career_advice') }}" class="cta-link">Get Advice</a>
                {% else %}
                <a href="{{ url_for('register') }}" class="cta-link">Create an account</a>
                {% endif %}
                
            </div>
        </section>
    </div>


    <!-- Call to Action -->
    {% if current_user.is_authenticated %}
    <div class="call-to-action">
        <h2>Ready to Jumpstart Your Career?</h2>
        <a href="{{ url_for('cv') }}" class="btn-register">Create You CV Now</a>
    </div>
    {% else %}
    <div class="call-to-action">
        <h2>Ready to Jumpstart Your Career?</h2>
        <a href="{{ url_for('register') }}" class="btn-register">Get Started Now</a>
    </div>
    {% endif %}
{% endblock content %}
