{% extends "layout.html" %}
{% block content %}
<div class="mb-3">
    <h1>Manage users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
      {% for role in user.roles %}
        {{role.name}},
      {% endfor %}
      </td>
      <td>{{user.balance}}</td>
        <td>
          <a href="{{ url_for('edit_userdata_admin', user_id=user.id) }}" class="btn btn-primary btn-sm" role="button">Edit</a>
          <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-danger btn-sm" role="button">Delete</a>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a class="btn btn-outline-info" href="{{ url_for('create_user')}}">Create User</a>

{% endblock content %}